
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* FUENTES Y TEXTOS*/

@font-face{
    font-family: 'Univers';
    src: url(/fonts/UniversLTStd-LightCn.otf);
}

.title{
    font-family: 'Univers';
    font-size: 4rem;
}

h1{
    font-family:'Univers';
}

h2{
    font-family:'Univers';
    margin-top: 15px;
    margin-bottom: 15px;
}

h3{
    font-family:'Univers';
}

h4{
    font-family:'Univers';
}

p{
    font-family:'Univers';
    text-align:justify;
    font-size: x-large;
    line-height: 3.5ch;
}

/* FU*/



.wrap{
    padding: 0px 100px 100px 100px;
    width: 100vw;
    height: 130vh;
    display: flex;
    justify-content: center;
    background:  url(/img/minisitio/IMAGEN\ PORTADA\ DUO-02.jpg);
    background-size: cover;
    background-position: center center;
}

.wrap-text{
    color: black;
    height: 700px;
    width: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

.wrap_mainpage{
    padding: 0px 100px 100px 100px;
    width: 100vw;
    height: 130vh;
    display: flex;
    justify-content: center;
    background:  url(/img/ejemplo\ carrusel\ reunión-04.jpg);
    background-size: cover;
    background-position: center center;
}

/* HEADER*/

.header{
    height: 70px;
}

li{
    font-family: 'Univers';
    font-size: larger;
    list-style: none;
    line-height: 35px;
}

.navbar{
    height: 100%;
    display: grid;
    grid-template-columns: 3fr 5fr 3fr;
    grid-template-rows: 1.5fr;
}

.naveg-socialMedia{
    height: 100%;
    width: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

/* CONTENIDO PRINCIPAL*/

.section{
    display:grid;
    grid-template-columns: 1fr 1.5fr;
    padding: 25px 28px;
    background-color: #f2f1ed;
    height: 500px;
    margin-bottom: 25px;
}

.firstDescription{
    display: grid;
    grid-template-rows: 1fr 3fr;
    padding: 20px 60px;
}


.imgContainer{
    height: 490px;
}
.hallEntrada{
    width: 100%;
    height: 100%;

}



.container-logros{
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: rgb(231 239 244);
    justify-items: center;
}

.iconos-logros{
    height: 300px;
}

/* PREVENTA*/

.section_preventa{
    background-color:whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width:100vw;
    height: 100vh;
    margin-bottom: 0;
    padding: 0 25px;
}

.prev{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 10px;
    height: 300px;
    width: 100vw;
    margin-top: 10%;
    margin-bottom:10%;
    align-items: center;
    justify-content: space-between;
}

.imgPrev{
    width: 95%;
}

.proyectsContainer_title{
    font-size: 40px;
    font-family:'Univers';
    font-weight: bold;
    margin-top: 5%;
    align-self: self-start;
    
}

.card_container{
    display: flex;
    gap: 25px;
    ;
}

.card-content{
    display: flex;
    justify-content: center;
    background-size: cover;
    background-position: bottom center;
}

.image_card{
    border-radius: 40px;
    height: 350px;
    width: 400px;
}

.image{
    height: 88px;
    width: 128px;
}

.section_nuesVirt{
    height: 600px;
    margin-top: 80px;
    background-color: aliceblue;
    display: flex;
    flex-direction: row;
    flex-grow: inherit;
    column-gap: 5px;
    }

.nuestras_virtudes{
    background-color: #37549c;
    width: 50%;
    h3{
        color: azure;
        font-size: 45px;
        margin-top: 30px;
        margin-left: 20px;
        margin-bottom: 30px;
    }
    .p-Virtudes{
        color: white;
        text-align: justify;
        font-size: x-large;
        font-family: 'Univers';
        display: flex;
        margin-left: 20px;
        margin-right: 20px;
    }
}

.nuestra_portada{
    width: 50%;
    background-color: rgb(67, 80, 126);
    img{
        height: 100%;
        width: 100%;
    }
    
}
 /* WHATSAPP BOTON*/

.whatsapp {
    display: flex;
    position: fixed;
    bottom: 30px;
    right: 30px; 
    border-radius: 35px;
    background-color: rgba(10, 204, 10, 1);
    
}

.cajita{
    align-content: center;
    color: #fff;
    font-size: 15px;
    font-family: 'Univers';
    text-align: center;
    white-space: nowrap;
    border-radius: 5px;
    padding: 0px 15px 0px 15px;
    background-color: rgba(10, 204, 10, 1);
}
.whatsapp_ic{
    background-color: rgba(10, 204, 10, 1);
    border-radius: 5px;
}

/* FOOTER*/


.pie{
    color: azure;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(35, 48, 96);
    height: 250px;
}

/* FORMULARIO*/

.formulario{
    width: 100vw;
    display: flex;
    justify-items: center;
    align-items: center;
    gap: 20px;
    font-family: 'Univers';

}

.formu{
    width: 850px;
}

.desarrollos_grilla{
    height: 180vh;
    width: 100vw;
    padding-left: 5%;
    padding-right: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 15px;
}

/*TARJETAS*/

.card{
    background: cover;
    width: fit-content;
}

.card-title{
    background-color:rgb(35, 48, 96);
}
.card-text{
    color: azure;
}


