

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/* COMUNES A TODO */

/* FUENTES Y TEXTOS*/

@font-face{
    font-family: 'Univers';
    src: url(/fonts/UniversLTStd-LightCn.otf);
}

.title{
    font-family: 'Univers';
    font-size: 4rem;
}

h1{
    font-family:'Univers';
}

h2{
    font-family:'Univers';
    margin-top: 15px;
    margin-bottom: 15px;
}

h3{
    font-family:'Univers';
}

h4{
    font-family:'Univers';
}

p{
    font-family:'Univers';
    text-align:justify;
    font-size: x-large;
    line-height: 3.5ch;
    margin: 0px;
}

/* WHATSAPP BOTON*/

.whatsapp {
    display: flex;
    position: fixed;
    bottom: 30px;
    right: 30px; 
    border-radius: 35px;
    background-color: rgba(10, 204, 10, 1);
    
}

.cajita{
    align-content: center;
    color: #fff;
    font-size: 15px;
    font-family: 'Univers';
    text-align: center;
    white-space: nowrap;
    border-radius: 5px;
    padding: 0px 15px 0px 15px;
    background-color: rgba(10, 204, 10, 1);
}
.whatsapp_ic{
    background-color: rgba(10, 204, 10, 1);
    border-radius: 5px;
}

/* FOOTER*/

.pie{
    color: azure;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(35, 48, 96);
    height: 250px;
}

/* FORMULARIO*/


.formulario{
    width: 100%;
    display: flex;
    justify-items: center;
    align-items: center;
    gap: 10px;
    font-family: 'Univers';
}

.textForm{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    background-color:rgb(35, 48, 96);
    height: 400px;
    margin-bottom: 5px;
    padding-top: 5%;
    padding-bottom: 8%;
    
}
.iconForm{
    padding: 0%;
    width: 450px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
}

.iconForm img{
    justify-self: center;
}
.logForm{
    font-family: 'Univers';
    font-size: x-large;
    color: #fff;
    text-decoration: none;
    
}

.formu{
    width: 100%;
    padding-left: 2%;
    font-family: 'Univers';
}
.btn{
    width: 120px;
    margin: 1%;
    font-family: 'Univers';
}



/*----------------------------------------------------------------*/

/* EXCLUSIVOS PAGINA PRINCIPAL*/

/* HEADER*/


.navbar{
    height: 120px;
    display: grid;
    grid-template-columns: 3fr 5fr 3fr;
    grid-template-rows: 1.5fr;
}

li{
    font-family: 'Univers';
    font-size: larger;
    list-style: none;
    line-height: 35px;
}


.naveg-socialMedia{
    height: 100%;
    width: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

/* CONTENIDO PRINCIPAL*/

.carousel{
    padding-top: 0px;
    padding-bottom: 0px;
}
.imgCarousel{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    background-size: cover;
    background-position: center center;
}

/* CONTENIDO LOGROS*/

.container-logros{
    height: 230px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: rgb(231 239 244);
    justify-items: center;
    margin: 30px 20px;
    padding-left: 4%;
    padding-right: 4%;
}

.logrosBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.iconos-logros{
    height: 160px;
}

/* NOSOTROS*/

.section_nuesVirt{
    height: 400px;
    margin: 30px 20px;
    background-color: aliceblue;
    display: flex;
    flex-direction: row;
    flex-grow: inherit;
    column-gap: 5px;
    }

.nuestras_virtudes{
    background-color: #37549c;
    width: 60%;
    padding-right: 6%;
    padding-left: 4%;
    h3{
        color: azure;
        font-size: 45px;
        margin-top: 30px;
        margin-left: 20px;
        margin-bottom: 30px;
    }
    .p-Virtudes{
        color: white;
        text-align: justify;
        font-size: large;
        font-family: 'Univers';
        line-height: 2em;
        display: flex;
        margin-left: 20px;
        margin-right: 20px;
    }
}

.nuestra_portada{
    width: 40%;
    background-color: rgb(67, 80, 126);
    img{
        height: 100%;
        width: 100%;
    }
    
}

/* PREVENTA*/

.proyectsContainer_title{
    font-size: 40px;
    font-family:'Univers';
    font-weight: bold;
    margin-top: 2%;
    margin-left: 20px;
    padding-left: 4%;
    align-self: self-start;
    color:rgb(67, 80, 126);
}
.section_prev{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 10px;
    height: 250px;
    padding-left: 4%;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5%;
}

.imgPrev{
    width: 95%;
}
 
/*DESARROLLOS*/

.section_desarrollos{
    margin: 30px 20px;
}
.card{
    background: cover;
    width: fit-content;
}

.card-title{
    background-color:rgb(35, 48, 96);
}
.card-text{
    color: azure;
}

.desarrollos_grilla{
    height: 100%;
    width: 100%;
    padding-left: 4%;
    padding-right: 4%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 15px;
}

/*------------------------------------------------------------*/


/* EXCLUSIVOS MICRO SITIO*/

.wrap{
    padding: 0px 100px 100px 100px;
    width: 100vw;
    height: 130vh;
    display: flex;
    justify-content: center;
    background:  url(/img/minisitio/IMAGEN\ PORTADA\ DUO-02.jpg);
    background-size: cover;
    background-position: center center;
}

.wrap-text{
    color: black;
    height: 700px;
    width: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.section{
    display:grid;
    grid-template-columns: 1fr 1.5fr;
    padding: 25px 28px;
    background-color: #f2f1ed;
    height: 500px;
    margin-bottom: 25px;
}

.firstDescription{
    display: grid;
    grid-template-rows: 1fr 3fr;
    padding: 20px 60px;
}


.imgContainer{
    height: 490px;
}
.hallEntrada{
    width: 100%;
    height: 100%;
}

.maps{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.carousel-item img{
    object-fit: scale-down;
    object-position: center;
    height: 80vh;
    overflow: hidden;
}

/*----------------------------------------------------*/
